html {
    font: 1em helvetica, arial, sans-serif;
    line-height: 1.6;
}

body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #00e;
}

.main {
    max-width: 37.5em;
    margin: 0 auto;
    padding: 0 1em;
}

.choices {
    overflow: auto;
}

.choice {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    padding-left: 1em;
    float: left;
    width: 50%;
}

.choice:first-child {
    padding-left: 0;
}

.choice ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.choice li {
    display: block;
    padding: 0.5em 0;
}

.example {
    background-color: #ff0;
}

.suggestion {
    background-color: #cdf;
}

pre {
    margin-left: 2em;
}
